
thead{
    background-color: rgb(2, 2, 1);
    color: white;
    text-align: center;
    font: arial;
}

tbody{
    
    font-weight: bold;
    text-align: center;
    font: arial;
    
}
